<!-- your html code here -->
<div class="container mt-5" style="max-width: 1000px;">
    <h2 class="mb-3">Contact</h2>
    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, praesentium nisi tenetur
        dolore culpa fugit id cum magnam vel ab totam! Excepturi earum nisi natus.</p>
    <form class="mt-4 border p-4 rounded bg-light">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1"
                placeholder="Please enter your message here..." rows="3"></textarea>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </form>
</div>
</div>

</div>