<div class="container mt-5">
  <h2 class="mb-3">Portfolio</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem provident necessitatibus aliquid non voluptatem voluptatibus laboriosam quae, atque deserunt alias modi, quaerat eos, quidem repellat laborum dolorum? Adipisci, aspernatur nisi.</p>
  
  <div class="row text-center mt-4">
    <div class="col-md-4 mb-4">
  <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb2FTeF9vs0h5W5-8AaOT8GELe9oASI3BiNn9RB60NJcGLU17DYjxsT64hELKzs_e8uChKsnlnPd5kQZxtDHMDLOYZ7x7GPT5y3WCEfCe_&s=10" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="text-primary">Project Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
  </div>
  </div>
  </div>


  <div class="col-md-4 mb-4">
   <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb2FTeF9vs0h5W5-8AaOT8GELe9oASI3BiNn9RB60NJcGLU17DYjxsT64hELKzs_e8uChKsnlnPd5kQZxtDHMDLOYZ7x7GPT5y3WCEfCe_&s=10" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="text-primary">Project Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
  </div>
  </div>
  </div>

  
  <div class="col-md-4 mb-4">
   <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb2FTeF9vs0h5W5-8AaOT8GELe9oASI3BiNn9RB60NJcGLU17DYjxsT64hELKzs_e8uChKsnlnPd5kQZxtDHMDLOYZ7x7GPT5y3WCEfCe_&s=10" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="text-primary">Project Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
  </div>
  </div>
  </div>

</div>