
    <div class="services mb-3 mt-3 row d-flex bg-light" style="height: 300px;">
        <div class="container col-md-8">
            <h5 class="card-title">Services</h5>
            <p class="card-text">TLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="col-md-2">
            <img src="https://img.freepik.com/fotos-premium/olas-mar-sobre-playa-arena-guijarros-tiro-cuadrado-vista-superior-directamente-encima_124717-1007.jpg"
                class="img-fluid rounded-circle w-50">
        </div>
    </div>
